body{
    font-family: 'Poppins', sans-serif;
}

/* navbar */
#go-up-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}


.navbar {
    padding-right: 40px;
}


.navbar-brand{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 2.5rem;
  }

.nav-item{
    padding: 0 15px;
  }

.nav-link{
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

#title {
    background-color: #22A198;
    color: #fff;
}

.title-text{
    padding-top: 100px;
    
}

.title-image{
    width: 270px;
    transform: rotate(11deg);
    margin-left: 60px;
}

@media (max-width:992px) {
  .title-text{
    padding-top: 40px;
}

  #title {
    text-align: center;
  }

  .title-image{
    position: static;
    transform: rotate(0);
  }
}

h1{
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    line-height: 1.2;
    margin-bottom: 20px;
}

h2{
    font-family: 'Poppins-Bold', sans-serif;
    font-size: 3rem;
    line-height: 1.2;
}

h3{
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    line-height: 1.4;
}

.container{
    padding-top: 20px;
}



/* images of google play and apple store */

.ios-img {
    margin: 5% 3% 5% 0%;
  }
.android-img {
    margin: 5% 3% 5% 0%;
  }

.android-img:hover {
    transform: scale(1.1);
  }

  .ios-img:hover {
    transform: scale(1.1);
  }

  /* title-image */




  /* for features ---------------------------------------------------- section */
  
.features{
    margin: auto;
}


.features-title{
    font-size: 1.2rem;
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 2px;
}

.features-prgrph{
    text-align: center;
    font-size: 0.9rem;
    padding-left: 15px;
    padding-right: 15px;
}

.features-image{
    width: 150px;
    transition: transform .7s ease-in-out;  
}


.features-image:hover {
    transform: rotate(360deg);
  }


  /* Testimonials  ---------------------------------------------------- section */

  #testimonials{
    background-color: #22A198;
    color: white;
    margin-top: 100px;
    margin-bottom: 100px;
    min-height: 520px;
    text-align: center;
  }

.testimonials-img{
    width: 7%;
    border-radius: 100%;
    margin: 20px;
}

.carousel-item{
    padding: 7% 15%;
}


  /* Pricing  ---------------------------------------------------- section */


  .pricing-title{
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
  }

  .pricing-prgrph{
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
  }

  .pricing-column{
    margin-bottom: 20px;
  }

  .card{
    border-radius: 40px
  }

  .card:hover{
    border-color: #b9b9b9;
  }


  .btn-outline-primary {
    border-color: #22A198;
    color: #22A198;
  }

  .btn-outline-primary:hover {
    background-color: #22A198 ;
    color: white ;
    border-color: #22A198;
  }


  /* <!-- Call to Action --> */

  #cta {
    background-color: #22A198;
    text-align: center;
  }

  
  .cta-title{
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 40px;
    color: #fff;
  }

  .ios-img-cta {
    margin:  20px 10px 55px;
  }
.android-img-cta {
    margin: 20px 10px 55px;
  }

.android-img-cta:hover {
    transform: scale(1.1);
  }

  .ios-img-cta:hover {
    transform: scale(1.1);
  }

   /* <!-- Footer --> */

  .social-media-link {
    margin-right: 10px;
  }